@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

 body{
   display:flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: 'Josefin Sans', sans-serif;
 }
 #game{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   width: 80%;
   margin-bottom: 2rem;
 }
 #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
} 

#redcolor{
  background-color: red;
}
#bluecolor{
  background-color: blue;
}
#greencolor{
  background-color: green;
}
#orangecolor{
  background-color: orange;
}
#purplecolor{
  background-color: purple;
}
button{
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  align-items: center;
  border-style: none;
  outline: none;
  background-color: black;
  color: white;
}
#transparent{
  background-color: transparent;
}


